<div class="container">
  <div class="row">
    <h1 class="col-12 title">Welcome to this test app!</h1>
    <div class="col-12 col-md-6 mgTop20">
      <button class="btn btn-success col-12" (click)="apiService.navigateTo('/search')"><fa name="search" size="lg" class="FAspace"></fa> Search Users</button>
    </div>
    <div class="col-12 col-md-6 mgTop20">
      <button class="btn btn-primary col-12" (click)="apiService.navigateTo('/add')"><fa name="plus" size="lg" class="FAspace"></fa> Add New User</button>
    </div>
  </div>
</div>
